/* Start Css Code */

#checkout .shopping_card {
    padding : 15px 0
}

#checkout .shopping_card ul { overflow : hidden }

#checkout .shopping_card ul li {
    display : inline-block;
    float : right;
    transition : 0.8s;
    border-radius : 5px
}

#checkout .shopping_card ul li:hover {
     transition : 0.8s;
     background-color : #F8F8F8
}

#checkout .shopping_card ul li:hover a { 
    color : #777 ;
    transition : 0.8s 
}

#checkout .shopping_card ul li a {
    display : block;
    width : 100%;
    height : 100%;
    text-decoration : none;
    padding : 5px;
    color : #262626;
    font-weight : bold;
    transition : 0.8s;
    font-size : 18px
}

/* Start Purchase Form Style */

#purchase_form form {
    position : relative;
    text-align : center
}

#purchase_form #progressbar {
    overflow : hidden;
    counter-reset : step;
    padding : 20px 0;
    background-color : #F5F5F5
}

#purchase_form #progressbar li {
    color : #262626;
    font-size : 9px;
    width : 33.33333%;
    float : right;
    position : relative;
    direction : ltr !important
}

#purchase_form #progressbar li span {
    display : inline-block;
    margin-right : 1%;
    font-size : 18px;
    color : #777;
    font-weight : bold
}

#purchase_form #progressbar li:after {
    content : counter(step);
    counter-increment : step;
    width : 30px;
    height : 30px;
    line-height : 22px;
    display : inline-block;
    font-size : 15px;
    color : #262626;
    background-color : #FFF;
    border-radius : 50%;
    padding : 5px;
    font-weight : bold;
    transition : 0.8s
}

#purchase_form #progressbar li:before {
    content : "";
    height : 3px;
    position : absolute;
    background-color : #DDD;
    top : 45%;
    z-index : 1
}

#purchase_form #progressbar li:nth-child(1):before { left : -33% ; width : 70% }

#purchase_form #progressbar li:nth-child(2):before { left : -34% ; width : 68% }

#purchase_form #progressbar li:last-child:before { content : none }

#purchase_form #progressbar li.active:after { background :#37B44E;color : white } 

/* End Purchase Form Style */

/* Start Purchase Form Responsive Modifications */

@media(max-width : 1024px) {

    #purchase_form #progressbar li:nth-child(1):before { left : -31% !important ; width : 65% !important}

    #purchase_form #progressbar li:nth-child(2):before { left : -31% !important; width : 62% !important}

    #purchase_form #progressbar li:before { top : 50% !important }

} /*-----------------------*/

@media(max-width : 768px) {

    #purchase_form #progressbar li:nth-child(1):before { left : -25% !important ; width : 55% !important}

    #purchase_form #progressbar li:nth-child(2):before { left : -25% !important; width : 51% !important}

    #purchase_form #progressbar li span { font-size : 15px !important }

} /*-----------------------*/

@media(max-width : 375px) { #purchase_form #progressbar li:before { content : none !important } #purchase_form #progressbar li span { font-size : 13px !important } }

@media(max-width : 414px) { #purchase_form #progressbar li:before { content : none !important } #purchase_form #progressbar li span { font-size : 13px !important } }

/* End Purchase Form Responsive Modifications */

/* Start Step Content Style */

#purchase_form .step_content {
    padding : 50px 0 65px 0
}

/* Start Add Location Step Content Style */

#purchase_form .location_infos {
   padding : 25px;
   text-align : right;
   box-shadow : 8px 8px 24px 2px rgba(2, 26, 53, .1);
   position : relative
}

#purchase_form .location_infos h6 {
     color : #DDD;
     font-size : 16px;
     font-weight : bold
}

#purchase_form .location_infos p {
     color : #887d7d;
     font-size : 16px;
     font-weight : bold
}

#purchase_form .location_info { margin-top : 5% }

#purchase_form .location_infos .location_icons {
    overflow : hidden
}

#purchase_form .location_infos .location_icons .location_icon , 
#purchase_form .location_infos .location_icons .dots_icons {
    width : 50%;
    float : right
} 

#purchase_form .location_infos .location_icons .location_icon { text-align : right }

#purchase_form .location_infos .location_icons .dots_icon { text-align : left }

#purchase_form .location_infos i { font-size : 25px }

#purchase_form #verified_location {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #37B44E;
    left: 43%;
    text-align: center;
    line-height: 55px;
    border-radius: 50%;
    color: #FFF
}

#purchase_form .add_location {
    box-shadow : 8px 8px 24px 2px rgba(2, 26, 53, .1);
    cursor : pointer
}

#purchase_form .add_location span {
    display : inline-block;
    width : 55px;
    height : 55px;
    text-align : center;
    color : #FFF;
    border-radius : 50%;
    background-color : orange ;
    opacity : 0.7;
    line-height: 60px;
    margin-bottom : 3.5%
}

#purchase_form .add_location p { 
    font-size : 22px ; 
    margin-bottom : 0;
    color : #887d7d
}

#purchase_form .add_location a {
    display : block;
    width : 100%;
    height : 100%;
    padding : 29.1% 0;
    text-decoration: none
}

.add_address_error_message , .payment_method_error_message{
    font-size: 15px;
    color: darkred;
    font-weight: bold
}

.payment_method_error_message { margin-top : 10px ; text-align : center }

#purchase_form hr {
    margin: 6% 0 2% 0;
    height: 0px;
    background-color: #c2b7b7
}

#purchase_form hr + div { text-align : left }

#purchase_form hr + div input {
    background-color : #37B44E;
    border           : 1px solid #37B44E;
    padding          : 8px 50px;
    color            : #FFF;
    cursor           : pointer;
    outline          : none;
    transition       : 0.8s
}

#purchase_form hr + div input:hover {
    transition : 0.8s;
    color : #37B44E;
    background-color : #FFF
}

/* End Add Location Step Content Style */

/* Start Order Confirmation Step Content Style */

.step_content .products .heading {
    text-align : right !important;
    margin-bottom : 4%;
    color : #777
}

.step_content .products .purchased_products .purchased_product {
    padding : 23px;
    box-shadow: 1px 5px 10px 2px #EEE;
    margin-bottom: 3%
}

.step_content .products .purchased_products .purchased_product .product_image {
    padding : 20px;
    background-color : #F8F8F8
}

.step_content .products .purchased_products .purchased_product .product_info h6 , 
.step_content .products .purchased_products .purchased_product .product_info p { text-align : right }

.step_content .products .purchased_products .purchased_product .product_info h6 { color : #D6D6D6 }

.step_content .products .purchased_products .purchased_product .product_info p {
    color: #262626;
    font-weight: bold;
    font-size: 15px
}

.step_content .products .purchased_products .purchased_product .product_info ul { text-align : right }

.step_content .products .purchased_products .purchased_product .product_info ul li { display : inline-block }

.step_content .products .purchased_products .purchased_product .product_info ul li:not(:last-child) { margin-left : 10% }

.step_content .products .purchased_products .purchased_product .product_info ul li:first-child { text-align : center }

.step_content .products .purchased_products .purchased_product .product_info ul li:first-child del { color : #B0B0B0 } 

.step_content .products .purchased_products .purchased_product .product_info ul li:first-child span {
    display: block;
    color: #262626;
    font-weight: bold
}

.step_content .products .purchased_products .purchased_product .product_info ul li:nth-child(2) span { color : #262626 }

.step_content .products .purchased_products .purchased_product .product_info ul li:last-child { font-weight : bold;color : #D6D6D6 }

.step_content .products .purchased_products .purchased_product .price { text-align : left;margin-top : 115% }

.step_content .products .purchased_products .purchased_product .price span {
    font-weight: bold;
    color: #262626;
    font-size: 25px
}

.step_content .total_price { margin-bottom : 13% }

.step_content .total_price h6 { text-align : right ; margin-bottom : 6% ; color : #777 }

.step_content .total_price .price_table {
    display : table;
    width : 100%;
    padding : 18px 10px;
    box-shadow : 8px 8px 24px 2px rgba(2, 26, 53, .1);
    margin-top : 9%
}

.step_content .total_price .price_table .price_row { display : table-row }

.step_content .total_price .price_table .price_row:last-of-type .price_cell { color : #262626; font-weight : bold }

.step_content .total_price .price_table .price_row:not(:last-child) .price_cell { font-size : 18px ; padding : 8px !important }

.step_content .total_price .price_table .price_cell {
    display : table-cell;
    padding : 5px;
    color : #777
}

.step_content .total_price .price_table .price_row .price_cell:first-of-type { text-align : right }

.step_content .total_price .price_table .price_row .price_cell:not(:first-of-type) { text-align : left }

.step_content .shipping_infos { margin-bottom : 6% }

.step_content .shipping_infos h6 { text-align : right ; margin-bottom : 6% ; color : #777 }

.step_content .payment h6 { text-align : right ; margin-bottom  : 6% ; color : #777 }

.step_content .payment_method {
    background-color : #FFF;
    padding : 15px 10px;
    box-shadow : 8px 8px 24px 2px rgba(2, 26, 53, .1)
}

.step_content .payment_method ul { width : 50% }

.step_content .payment_method ul li { display : inline-block }

.step_content .payment_method ul li:first-child { margin-left : 5% }

.step_content .payment_method ul li:first-child i { color : #66C95D }

.step_content .payment_method_button { font-weight : bold ; background-color : orange !important ; opacity : 0.7 !important ; border : 1px solid rgba(255,165,0,0.6) !important ; float : right }

.step_content .payment_method_button:hover { background-color : #FFF !important ; color : rgba(255,165,0,0.7) !important }

.step_content .confirm_order {
    float            : left;
    background-color : #37B44E;
    border           : 1px solid #37B44E;
    color            : #FFF;
    cursor           : pointer;
    outline          : none;
    transition       : 0.8s;
    margin           : auto;
    padding          : 8px 70px !important;
    font-weight      : bold
}

.step_content .confirm_order:hover {
    background-color : #FFF;
    color : #37B44E;
    transition : 0.8s
}

/* End Order Confirmation Step Content Style */

/* Start Payment Methods Step Content Style */

.step_content .payment_ways .heading h6 { text-align : right ; margin-bottom : 4% ; color : #262626 }

.step_content .payment_ways .payment_methods_tabs ul { text-align : right ; margin-bottom : 7% }

.step_content .payment_ways .payment_methods_tabs ul li {
    display : inline-block;
    padding : 10px 25px;
    text-align : center;
    width : 35%;
    font-size : 18px;
    transition : 0.8s
}

.step_content .payment_ways .payment_methods_tabs ul li span:first-of-type i , 
.step_content .payment_ways .payment_methods_tabs ul li span:nth-child(2) { transition : 0.8s }

/* Start Style For Active Payment Method */

.step_content .payment_ways .payment_methods_tabs ul li.active {
    box-shadow : 8px 8px 24px 2px rgba(2, 26, 53, .1);
    background-color : #FFF; /* for test */
}

.step_content .payment_ways .payment_methods_tabs ul li.active span:first-of-type i { color : #37B44E }

.step_content .payment_ways .payment_methods_tabs ul li.active span:nth-child(2) {
    color : #262626;
    font-weight : bold
}

/* End Style For Active Payment Method */

/* Start Style For Not Active Payment Method */

.step_content .payment_ways .payment_methods_tabs ul li:not(.active) {
    background-color : #F5F5F5;
    cursor : pointer
}

.step_content .payment_ways .payment_methods_tabs ul li:not(.active) span:first-of-type i { color : #DDD }

.step_content .payment_ways .payment_methods_tabs ul li:not(.active) span:nth-child(2) {
    color : #DDD;
    font-weight : bold
}

.step_content .payment_ways .payment_methods_tabs ul li:not(.active):hover {
    transition : 0.8s;
    box-shadow : 8px 8px 24px 2px rgba(2, 26, 53, .1);
    background-color : #FFF /* for test */
}

.step_content .payment_ways .payment_methods_tabs ul li:not(.active):hover span:first-of-type i { color : #37B44E ; transition : 0.8s }

.step_content .payment_ways .payment_methods_tabs ul li:not(.active):hover span:nth-child(2) { color : #262626 ; transition: 0.8s }

/* End Style For Not Active Payment Method */

.step_content .payment_ways .payment_methods_tabs ul li:first-of-type { margin-left : 1% }

.step_content .payment_ways .payment_methods_tabs ul li span {
    display : inline-block
}

.step_content .payment_ways .payment_methods_tabs ul li span:first-of-type { margin-left : 2% }

.step_content .payment_ways .payment_methods_tabs { margin-bottom : 2% /* for test */ }

.step_content .payment_ways #payment_method_1_content ,
.step_content .payment_ways #payment_method_2_content { 
    background-color : #FFF;
    box-shadow : 8px 8px 24px 2px rgba(2, 26, 53, .1);
    padding : 25px 25px 35px 25px;
 }

 .step_content .payment_ways #payment_method_1_content , .step_content .payment_ways #payment_method_2_content { min-height : 170px ; text-align : right}

 .step_content .payment_ways .payment_methods_content #payment_method_1_content .form-group { text-align : right !important }

 .step_content .payment_ways .payment_methods_content #payment_method_1_content .form-group label { color : #262626 }

 .step_content .payment_ways .payment_methods_content #payment_method_1_content .form-group input {
     border : 1px solid #DDD !important;
     border-radius : 0 !important
 }

 .step_content .payment_ways .payment_methods_content #payment_method_1_content .form-group input::placeholder { color : #262626 !important }

 .step_content .payment_ways .payment_methods_content #payment_method_1_content .expiration_date input , 
 .step_content .payment_ways .payment_methods_content #payment_method_1_content .cvv input { text-align : center }

 .step_content .payment_ways .payment_methods_content > div:not(:first-of-type) { display : none }

 .step_content .second_step .previous {
     float : right;
     font-weight : bold; 
     background-color : orange !important; 
     opacity : 0.7 !important; 
     border : 1px solid rgba(255,165,0,0.7) !important;
     padding : 8px 65px !important
}

.step_content .second_step .previous:hover {
    background-color : #FFF !important; 
    color : rgba(255,165,0,0.7) !important
}

.step_content .second_step .next {
    float : left;
    padding : 8px 65px !important;
    font-weight : bold
}

/* End Payment Methods Step Content Style */

/* Start Payment Methods Step Responsive Content Style */

@media(max-width : 768px) {

    .step_content .payment_ways #payment_method_1_content , .step_content .payment_ways #payment_method_2_content {

        min-height : 385px !important;
        margin-bottom : 5%

    }

    .step_content .payment_ways #payment_method_2_content p { text-align : center ; line-height : 15rem }

}

@media(max-width : 375px) {

    .step_content .payment_ways .payment_methods_tabs ul li {
        display : block !important;
        width : 100%
    }

    .step_content .payment_ways .payment_methods_tabs ul li:first-of-type { margin-left : 0 !important ; margin-bottom : 5% !important}

    .step_content .second_step { text-align : center !important }

    .step_content .second_step input { float : none !important }
    
    .step_content .clearfix { display : none !important }

    .step_content .second_step input:first-of-type { margin-bottom : 3%  }

    .step_content .second_step input:nth-child(2) { padding-right : 71px !important ; padding-left : 71px !important }  

}

@media(max-width : 414px) {

    .step_content .payment_ways .payment_methods_tabs ul li {
        display : block !important;
        width : 100%
    }

    .step_content .payment_ways .payment_methods_tabs ul li:first-of-type { margin-left : 0 !important ; margin-bottom : 5% !important}

}

/* End Payment Methods Step Responsive Content Style */

/* Start Order Confirmation Step Responsive Content Style */

@media(max-width : 1024px) {

    .step_content .products .purchased_products .purchased_product .price { margin-top : 40% !important }

    .step_content .products .purchased_products .purchased_product .product_info ul { margin-top : -7% !important }

    .step_content .payment_method ul  { width : 60% !important }

    .step_content .payment_method ul li:first-child { margin-left : 4% !important }

}

@media(max-width : 768px) {

    .step_content .products .purchased_products .purchased_product .product_info h6 , 

    .step_content .products .purchased_products .purchased_product .product_info p { text-align : center !important }
 
    .step_content .products .purchased_products .purchased_product .product_info ul { margin-top : 0 !important;text-align : center !important }

    .purchased_products .purchased_product .product_image { margin-bottom : 8% !important } 

    .step_content .products .purchased_products .purchased_product .price { text-align : center !important;margin-top : 15% !important }

    .step_content .total_price .price_table .price_row:not(:last-child) .price_cell { padding : 5px !important }

    .step_content .payment_method ul { width : 81% !important }

    .step_content .total_price { margin-bottom : 15% !important }

    .step_content .shipping_infos { margin-bottom : 10% !important }

}

@media(max-width : 375px) {

    .step_content .payment_method_button , .step_content .confirm_order { float : none !important }

    .step_content .payment_method_button { margin-bottom : 5% !important }

    .step_content .total_price { margin-top : 8% }

    .step_content .products .purchased_products .purchased_product { margin-bottom : 6% !important }

}

@media(max-width : 414px) {

    .step_content .payment_method_button , .step_content .confirm_order { float : none !important }

    .step_content .payment_method_button { margin-bottom : 5% !important }

    .step_content .total_price { margin-top : 8% }

    .step_content .products .purchased_products .purchased_product { margin-bottom : 6% !important }

}

/* End Order Confirmation Step Responsive Content Style */

/* Start Add location Step Responsive Content Style */

@media(max-width : 1024px) {

    #purchase_form .add_location a { padding : 35% 0 !important }

} 

@media(max-width : 768px) {

     #purchase_form .add_location a { padding : 31% 0 !important }

     #purchase_form hr + div { text-align : center !important }

} 

@media(max-width : 375px) {

    #purchase_form .location_infos { margin-bottom : 10% !important }

    #purchase_form hr { margin-bottom : 5% !important }

    #purchase_form .step_content { padding-bottom : 40px !important }

}

@media(max-width : 414px) {

    #purchase_form .location_infos { margin-bottom : 10% !important }

    #purchase_form hr { margin-bottom : 5% !important }

    #purchase_form .step_content { padding-bottom : 40px !important }

}

@media(max-width : 320px) {

    #purchase_form .location_infos { margin-bottom : 15% !important }

}

/* End Add location Step Responsive Content Style */

/* start modal [ Add Address ] style */

.modal { direction : ltr !important}

.modal .modal-content { padding-bottom : 25px !important }

.modal .new_location_infos {
    text-align : right
}

.modal .new_location_infos label { color : #777 }

.modal .new_location_infos input , .modal .new_location_infos textarea { 
    text-align : right ;
    font-size : 15px
}

.modal .modal-header { margin : auto ; border : none }

.modal .modal-header h5 { color : #555 }

.modal hr { margin : 0 }

.modal .modal-footer { border : none ; margin : auto }

.modal .modal-footer button {
    display          : block;
    background-color : #37B44E;
    border           : 1px solid #37B44E;
    color            : #FFF;
    cursor           : pointer;
    outline          : none;
    transition       : 0.8s;
    margin           : auto
}

.modal .modal-footer button:hover , .modal .modal-footer button:focus {
    background-color : #FFF !important ; 
    color : #37B44E !important ;
    transition : 0.8s !important
}

.modal #add_location_result { text-align : center }

/* end modal [ Add Address ] style */

/* End Step Content Style */

/* Start Activation Of Purchase Process Steps */

#purchase_form .step_content:not(:first-of-type) { display : none }

/* Start Activation Of Purchase Process Steps */

/* End Css Code */