/* Start CSS Code */
            
/* Start Carousel Slider */

#carousel-slider { //padding : 60px 0;//background-color : #F8F8F8 }

#carousel-slider .carousel-indicators li { background-color: #DDD }

#carousel-slider .carousel-indicators li.active { background-color : orange; opacity : 0.6 }

#carousel-slider img { width : 100% !important }

#carousel-slider .desc { text-align: right }

#carousel-slider .desc h3 mark { background-color : orange; opacity : 0.6; color : #FFF }

#carousel-slider .desc p {width : 45%;color : #777 }

#carousel-slider .desc button {
	background-color : transparent;
    border           : 2px solid #37B44E;
    padding          : 8px 20px;
    color            : #37B44E;
    cursor           : pointer;
    margin-top       : 15%
}

@media (min-width: 0) and (max-width: 991px) {
	#carousel-slider .desc { margin-bottom : 5% !important ; text-align: center }
    #carousel-slider .desc p { width : 100% ; margin : auto }
}

/* End Carousel Slider */

/* Start Latest Offers */

#latest_offers { padding : 45px 0;background-color : #FFF }

#latest_offers .title h5 { text-align : center;margin-bottom : 3% }

#latest_offers .title h5:after {
    content : "";
    display : block;
    border  : 2px solid #37B44E;
    width   : 3%;
    margin  : 1% auto
}

#latest_offers .latest_offers_slider .item .item_content { position : relative }

#latest_offers .latest_offers_slider .item .item_content .discount { 
    position         : absolute;
    text-align       : center;
    top              : 2%;
    left             : 0;
    padding          : 1% 5%;
    z-index          : 99999;
    font-weight      : bold;
    color            : #FFF;
    background-color : orange;
    opacity          : 0.7
}

#latest_offers .latest_offers_slider .item .image { padding : 20px;background-color : #F8F8F8 }

#latest_offers .latest_offers_slider .item .image img { width : 100% !important }

#latest_offers .latest_offers_slider .item .item_desc { text-align : right }

#latest_offers .latest_offers_slider .item .item_desc h6 { margin-top : 5%;color : #777 }

#latest_offers .latest_offers_slider .item .item_desc p { font-size: 16px }

#latest_offers .latest_offers_slider .item .item_desc h6:after {
    content    : "";
    display    : block;
    border     : 1px solid #000;
    width      : 6%;
    margin-top : 4%
}

#latest_offers .latest_offers_slider .item .item_desc del { color : #777 }

#latest_offers .latest_offers_slider .item .item_desc span,

#latest_offers .latest_offers_slider .item .item_desc del { font-size : 17px }

#latest_offers .latest_offers_slider .item .item_desc span { margin : 0 5%;font-weight: bold;color : #37B44E }

#latest_offers .latest_offers_slider .item .item_desc .offer_price a i { color : orange ; opacity : 0.7 }

#latest_offers .owl-nav { margin-top: 2% }

#latest_offers .owl-dots { display: none } 

#latest_offers .owl-prev , #latest_offers .owl-next { 
    background-color : transparent ; 
    color            : #000 ; 
    font-weight      : bold;
    font-size        : 25px
}

/* End Latest Offers */

/* Start Store Other Products */

#other_products { padding : 45px 0; background-color : #EEFCEE }

#other_products .products { background-color: #FFF; }

#other_products .product_cat { height : 100%;box-shadow: 1px 5px 10px 2px #EEE }

#other_products .product_sub_cat { height : 100% }

#other_products .product_sub_cat .products_sub_cat { margin-bottom: 5% }

#other_products .product_cat .desc { text-align : center }

#other_products .product_cat .desc h5 { color : #777 }

#other_products .product_cat .desc button {
    padding          : 2% 7%;
    background-color : transparent;
    border           : 2px solid #37B44E;
    font-weight      : bold;
    color            : #37B44E;
    cursor           : pointer;
    margin-top       : 6%
}

#other_products .product_sub_cat .products_sub_cat .product ,
#other_products .product_sub_cat .shopping_product { 
    padding    : 10px ; 
    box-shadow : 1px 5px 10px 2px #EEE 
}

#other_products .product_sub_cat .products_sub_cat .product .desc { text-align : center }

#other_products .product_sub_cat .products_sub_cat .product .desc h5 { color : #777 }

#other_products .product_sub_cat .shopping_product .shopping_product_details { padding : 10px ;border : 2px solid #37B44E } 

#other_products .product_sub_cat .shopping_product .shopping_product_details .desc { text-align : right }

#other_products .product_sub_cat .shopping_product .shopping_product_details .desc p { margin-top: 50% }

#other_products .product_sub_cat .shopping_product .shopping_product_details .desc p a {
    color           : #37B44E;
    text-decoration : none;
    display         : block;
    width           : 100%;
    height          : 100%;
    font-weight     : bold;
    transition      : all 0.3s ease-in-out
}

#other_products .product_sub_cat .shopping_product .shopping_product_details .desc p a:hover { padding-right : 5px }

/* End Store Other Products */

/* Start Best Seller Products */

#best_seller { padding : 45px 0;background-color : #FFF }

#best_seller .title h5 { text-align : center;margin-bottom : 3% }

#best_seller .title h5:after {
    content : "";
    display : block;
    border  : 2px solid #37B44E;
    width   : 3%;
    margin  : 1% auto
}

#best_seller .best_seller_slider .item .item_content { position : relative }

#best_seller .best_seller_slider .item .item_content .discount { 
    position         : absolute;
    text-align       : center;
    top              : 2%;
    left             : 0;
    padding          : 1% 5%;
    z-index          : 99999;
    font-weight      : bold;
    color            : #FFF;
    background-color : orange;
    opacity          : 0.7
}

#best_seller .best_seller_slider .item .image { padding : 20px;background-color : #F8F8F8 }

#best_seller .best_seller_slider .item .image img { width : 100% !important }

#best_seller .best_seller_slider .item .item_desc { text-align : right }

#best_seller .best_seller_slider .item .item_desc h6 { margin-top : 5%;color : #777 }

#best_seller .best_seller_slider .item .item_desc p { font-size: 16px }

#best_seller .best_seller_slider .item .item_desc h6:after {
    content    : "";
    display    : block;
    border     : 1px solid #000;
    width      : 6%;
    margin-top : 4%
}

#best_seller .best_seller_slider .item .item_desc del { color : #777 }

#best_seller .best_seller_slider .item .item_desc span,

#best_seller .best_seller_slider .item .item_desc del { font-size : 17px }

#best_seller .best_seller_slider .item .item_desc span { margin : 0 5%;font-weight: bold;color : #37B44E }

#best_seller .best_seller_slider .item .item_desc .offer_price a i { color : orange ; opacity : 0.7 }

#best_seller .owl-nav { margin-top: 2% }

#best_seller .owl-dots { display: none } 

#best_seller .owl-prev , #best_seller .owl-next { 
    background-color : transparent ; 
    color            : #000 ; 
    font-weight      : bold;
    font-size        : 25px
}

/* End Best Seller Products */

/* Start Store Products */

#products { padding : 45px 0;background-color : #E2F5F6 }

#products .product { background-color : #FFF;padding : 15px }

#products .product .image img { width : 100% }

#products .product .product_details { border : 2px solid #37B44E;padding : 15px }

#products .product .product_details .desc { text-align : right }

#products .product .product_details .desc h5 { color : #37B44E ; margin-top: 10% }

#products .product .product_details .desc h5:after {
    content    : "";
    display    : block;
    border     : 1px solid #000;
    width      : 12%;
    margin-top : 7%
}

#products .product .product_details .desc p { color : #777 ; margin-bottom: 0 }

#products .product .product_details .desc p:last-child a {
    color           : #37B44E;
    text-decoration : none;
    display         : block;
    width           : 100%;
    height          : 100%;
    transition      : all 0.3s ease-in-out
}

#products .product .product_details .desc p:last-child a:hover { padding-right : 5px }

#products .product .product_details .desc > span { font-size : 35px ; font-weight : bold }

#products .product .product_details .desc p span i { margin-right: 1% }

@media (min-width: 0) and (max-width: 991px) {
    #products .product { margin-bottom : 5px !important }
}

/* End Store Products */

/* Start Newest Products */

#newest_products { padding : 45px 0;background-color : #FFF }

#newest_products .title h5 { text-align : center;margin-bottom : 3% }

#newest_products .title h5:after {
    content : "";
    display : block;
    border  : 2px solid #37B44E;
    width   : 3%;
    margin  : 1% auto
}

#newest_products .newest_products_slider .item .item_content { position : relative }

#newest_products .newest_products_slider .item .item_content .discount { 
    position         : absolute;
    text-align       : center;
    top              : 2%;
    left             : 0;
    padding          : 1% 5%;
    z-index          : 99999;
    font-weight      : bold;
    color            : #FFF;
    background-color : orange;
    opacity          : 0.7
}

#newest_products .newest_products_slider .item .image { padding : 20px;background-color : #F8F8F8 }

#newest_products .newest_products_slider .item .image img { width : 100% !important }

#newest_products .newest_products_slider .item .item_desc { text-align : right }

#newest_products .newest_products_slider .item .item_desc h6 { margin-top : 5%;color : #777 }

#newest_products .newest_products_slider .item .item_desc p { font-size: 16px }

#newest_products .newest_products_slider .item .item_desc h6:after {
    content    : "";
    display    : block;
    border     : 1px solid #000;
    width      : 6%;
    margin-top : 4%
}

#newest_products .newest_products_slider .item .item_desc del { color : #777 }

#newest_products .newest_products_slider .item .item_desc span,

#newest_products .newest_products_slider .item .item_desc del { font-size : 17px }

#newest_products .newest_products_slider .item .item_desc span { margin : 0 5%;font-weight: bold;color : #37B44E }

#newest_products .newest_products_slider .item .item_desc .offer_price a i { color : orange ; opacity : 0.7 }

#newest_products .owl-nav { margin-top: 2% }

#newest_products .owl-dots { display: none } 

#newest_products .owl-prev , #newest_products .owl-next { 
    background-color : transparent; 
    color            : #000; 
    font-weight      : bold;
    font-size        : 25px
}

/* End Newest Products */

/* End CSS Code */