/* Start CSS Code */

#single_product {
    padding : 25px 0 45px 0
}

#single_product #carousel-slider .single_product_image , 
#single_product #carousel-slider-modal .single_product_image
{
    background-color : #F8F8F8;
    position : relative;
    cursor : pointer
}

#single_product #carousel-slider .single_product_image .discount , 
#single_product #carousel-slider-modal .single_product_image .discount
{
    position         : absolute;
    text-align       : center;
    top              : 2%;
    left             : 0;
    padding          : 1% 5%;
    z-index          : 99999;
    font-weight      : bold;
    color            : #FFF;
    background-color : orange;
    opacity          : 0.7;
    z-index          : 99999
}

#single_product .single_product_images > div {
    outline : 1px solid #DDD;
    margin : 0 auto 11%;
    cursor : pointer;
    opacity : 0.5;
    border-radius : 5px;
    color : #000;
    transition : 0.4s ease-in-out;
    width : 45px;
    height : 45px
}

#single_product .single_product_images  div.active , 
#single_product .single_product_images > div:hover
{
    outline : 1px solid #000;
    opacity : 1;
    transition : 0.4s ease-in-out
}

#single_product #carousel-slider .carousel-control-prev i , 
#single_product #carousel-slider .carousel-control-next i , 
#single_product #carousel-slider-modal .carousel-control-prev i,
#single_product #carousel-slider-modal .carousel-control-next i
{ color : #777 }

#single_product .single_product_info {
    text-align : right;
    margin-top : 29.3%
}

#single_product .single_product_info .product_title {
    color : #C2C2C2;
    font-size : 16px
}

#single_product .single_product_info p:first-of-type {
    font-weight : bolder;
    color : #262626
}

#single_product .single_product_info p:first-of-type:after {
    content : "";
    display : block;
    border  : 2px solid #62cb5d;
    width   : 5%;
    margin : 4% 0
}

#single_product .single_product_info .product_price {
    margin-bottom : 13%
}

#single_product .single_product_info .product_price del , #single_product .single_product_info .product_price span {
    display : block
}

#single_product .single_product_info .product_price del {
     color : #C2C2C2;
     font-weight : normal
}

#single_product .single_product_info .product_price span:first-of-type {
    font-weight : bolder;
    font-size : 33px;
    color : #262626
}

#single_product .single_product_info .product_price .price_saving {
    color : #37B44E;
    font-weight : 400;
    font-size : 15px
}

#single_product .product_evaluation div {
    font-weight : bolder;
    color : #262626;
    margin-bottom : 2%
}

#single_product .product_evaluation ul li {
    display : inline-block
}

#single_product .product_evaluation ul li i.active_evaluation { color : #FCBD4A }

#single_product .single_product_info .product_purchasing_details span {
    color : #b8b8b8;
    font-size : 16px;
    font-weight : bold
}

#single_product .single_product_info .product_purchasing_details ul li {
    display : inline-block;
    margin-left : 2%
}

#single_product .single_product_info .product_purchasing_details ul li select {
    padding : 9px 20px 9px 20px;
    border : 1px solid #a6a6a6;
    color : #a6a6a6;
    outline : none
}

#single_product .single_product_info .product_purchasing_details ul li button {
    background-color : #37B44E;
    border           : 2px solid #37B44E;
    padding          : 8px 35px;
    color            : #FFF;
    cursor           : pointer;
    outline          : none
}

#single_product .single_product_info .product_purchasing_details ul li:last-of-type {
    padding : 10px 10px 6px 10px;
    background-color : #ebebeb;
    border-radius : 50%
}

#single_product .single_product_info .product_purchasing_details ul li:last-of-type i { font-size : 25px }
/******/
#single_product_details { padding : 0 0 45px 0 ; font-size : 17px }

#single_product_details .empty { 
    background-color : #F8F8F8;
    padding : 10px 0
 }

 #single_product_details .trade_mark {
     padding : 10px 0;
     color : #999;
     text-align : right
 } 

#single_product_details .trade_mark .trade_mark_content span { font-weight : bold ; color : #777}
  
#single_product_details .type {
    padding : 10px 0;
    color : #999;
    background-color : #F8F8F8;
    text-align : right
} 

 #single_product_details .type .type_content span { font-weight : bold ; color : #777}

 #single_product_details .composition {
    padding : 10px 0;
    color : #999;
    text-align : right
} 

 #single_product_details .composition .composition_content span { font-weight : bold ; color : #777}

 #single_product_details .size {
    padding : 10px 0;
    color : #999;
    background-color : #F8F8F8;
    text-align : right
} 

 #single_product_details .size .size_content span { font-weight : bold ; color : #777}

 #single_product_details .category {
    padding : 10px 0;
    color : #999;
    text-align : right
} 

 #single_product_details .category .category_content span { font-weight : bold ; color : #777}

 #single_product_details .product_details {
    padding : 25px 0;
    background-color : #F8F8F8;
} 

#single_product_details .product_details ul { list-style-type : disc !important ; margin-right : 2% }

#single_product_details .product_details ul li { 
    text-align : right;
    direction : rtl;
    font-weight : bold;
    color : #777;
    margin-bottom : 1%
}

#single_product_details .product_details ul li:nth-child(4) { margin-bottom : 0 }


/* Start Best Selling Products */

#best_selling_products { padding : 45px 0;background-color : #FFF }

#best_selling_products .title h5 { text-align : center;margin-bottom : 3% }

#best_selling_products .title h5:after {
    content : "";
    display : block;
    border  : 2px solid #37B44E;
    width   : 3%;
    margin  : 1% auto
}

#best_selling_products .best_selling_products_slider .item .item_content { position : relative }

#best_selling_products .best_selling_products_slider .item .item_content .discount { 
    position         : absolute;
    text-align       : center;
    top              : 2%;
    left             : 0;
    padding          : 1% 5%;
    z-index          : 99999;
    font-weight      : bold;
    color            : #FFF;
    background-color : orange;
    opacity          : 0.7
}

#best_selling_products .best_selling_products_slider .item .image { padding : 20px;background-color : #F8F8F8 }

#best_selling_products .best_selling_products_slider .item .image img { width : 100% !important }

#best_selling_products .best_selling_products_slider .item .item_desc { text-align : right }

#best_selling_products .best_selling_products_slider .item .item_desc h6 { margin-top : 5%;color : #777 }

#best_selling_products .best_selling_products_slider .item .item_desc p { font-size: 16px }

#best_selling_products .best_selling_products_slider .item .item_desc h6:after {
    content    : "";
    display    : block;
    border     : 1px solid #000;
    width      : 6%;
    margin-top : 4%
}

#best_selling_products .best_selling_products_slider .item .item_desc del { color : #777 }

#best_selling_products .best_selling_products_slider .item .item_desc span,

#best_selling_products .best_selling_products_slider .item .item_desc del { font-size : 17px }

#best_selling_products .best_selling_products_slider .item .item_desc span { margin : 0 5%;font-weight: bold;color : #37B44E }

#best_selling_products .best_selling_products_slider .item .item_desc .offer_price a i { color : orange ; opacity : 0.7 }

#best_selling_products .owl-nav { margin-top: 2% }

#best_selling_products .owl-dots { display: none } 

#best_selling_products .owl-prev , #best_selling_products .owl-next { 
    background-color : transparent; 
    color            : #000; 
    font-weight      : bold;
    font-size        : 25px
}

#best_selling_products .best_selling_sign {
    position         : absolute;
    text-align       : center;
    top              : 2%;
    right            : 2%;
    padding          : 5px 6px;
    z-index          : 99999;
    color            : #777;
    background-color : #FFF;
    z-index          : 99999;
    border-radius    : 50%;
    font-weight      : normal
}

/* End Best Selling Products */

@media(max-width : 1024px) {
    #single_product .single_product_info { margin-top : 22.9% !important }
}

@media(max-width : 320px) {
    #single_product .single_product_info .product_purchasing_details ul li:last-of-type {
         margin-top : 4% !important
}
    #single_product_details .product_details ul li { margin-bottom : 5% }
}

@media(max-width : 360px) {
    #single_product_details .product_details ul { margin-right : 5% !important }
    #single_product_details .product_details ul li { margin-bottom : 5% }
}

@media(max-width : 411px) {
    #single_product_details .product_details ul { margin-right : 4% !important }
    #single_product_details .product_details ul li { margin-bottom : 5% }
}

@media(max-width : 414px) {
    #single_product_details .product_details ul { margin-right : 4% !important }
    #single_product_details .product_details ul li { margin-bottom : 5% }
}

/* End CSS Code */